.chef-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 20px;
}
.menu-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 40px;
}
.menu-item {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -10px gray;
}
.menu-item img {
    width: 95%;
}
.menu-item h5 {
    margin-top: 10px;
}
.menu-item p {
    margin: 5px 0;
}
.about-section {
    width: 90%;
    margin: 0 auto;
}


/* Responsive CSS */
@media screen and (max-width: 688px) {
    .web-navbar {
        display: none!important;
    }
    .header-banner h2 {
        font-size: 40px;
        letter-spacing: 0.2em;
    }
    .chef-cards {
        grid-template-columns: auto;
    }
    .chef-image img {
        width: 150px;
        height: 170px;
    }
    .about-content {
        display: flex!important;
        flex-direction: column;
        text-align: center;
    }
    .about-img img {
        width: 100%;
    }
    .menu-content {
        grid-template-columns: auto;
    }
    .chef-details {
        flex-direction: column;
    }
    .chef-details-image img {
        width: 100%!important;
        height: 100%!important;
    }
}
