.header-banner {
    background-image: url('https://thumbs.dreamstime.com/z/food-banner-pasta-chicken-pumpkin-salad-meat-mushrooms-white-wooden-background-top-view-free-space-text-202154861.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.header-banner::before{
    content: '';
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-banner h2 {
    font-size: 60px;
    color: #FFC107;
    letter-spacing: 0.4em;
}
.header-banner p {
    color: #FFC107;
    font-size: 20px;
    margin: 25px 0;
}